<!DOCTYPE html>
<html>

<head>
    <%- include("headers.ejs") %>
    <!-- Init socket client  -->
    <script src="socket.io/socket.io.js"></script>
    <script>
        if ( socket === undefined) {
        var socket = io.connect(); 
        // socket = io.connect('http://localhost:8082/expenses');
        let data = { user: <%- JSON.stringify(user) %> }
        console.log('front end script ? ok');
        socket.emit('user_connected', data);
        socket.on('user_in_my_group_connected', function (userNames) {
            $(document).ready(function () {

                window.addEventListener('buttons-created', function (e) {
                    createAutoSuggest(); 
                    $("#usersInGroup").children().each(function() {
                        console.log($(this).text());
                        userNames.map((name) => {
                            if($(this).text() == name) {
                                $(this).removeClass("btn-danger").addClass("btn-success");
                            }
                        });
                    })   
                });
                $("#usersInGroup").children().each(function() {
                    userNames.map((name) => {
                        if($(this).text() == name) {
                            $(this).removeClass("btn-danger").addClass("btn-success");
                        }
                    });
                });
            })
        });
        socket.on('user_in_my_group_disconnected', function(userName) {
            console.log('disconnect event received by client',userName );
            $("#usersInGroup").children().each(function() {

                if($(this).text() == userName) {
                    $(this).removeClass("btn-success").addClass("btn-danger");
                }

            })  
        })
    }
    </script>

    <script type="text/babel" src="../public/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">

    <title>Room8s</title>

    <!-- To script για να λειτουργεί το Show-hide button -->
    <script type="text/javascript">
        function showHideDiv(ele) {
            var srcElement = document.getElementById(ele);
            if (srcElement != null) {
                if (srcElement.style.display == "block") {
                    srcElement.style.display = 'none';
                } else {
                    srcElement.style.display = 'block';
                }
                return false;
            }
        }

    </script>

</head>

<body>
    <!--NAVIGATION BAR-->
    <%- include("template-nav-bar.ejs") %>

    <% if (userHasGroup == false){ %>
    <script>
        window.onload = function () {
            if (this.name == 'done') {
            } else {
                this.name = 'done';
                $('#exampleModalCenter').modal('show');
            }
        }
    </script>
    <% } %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Welcome, <%= user.firstName %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    It seems like you are not assigned in a group, would you like to create a group?
                </div>
                <div class="modal-footer">
                    <button id='rjct-btn' type="button" class="btn btn-secondary" data-dismiss="modal">Maybe
                        later</button>
                    <button type="button" class="btn btn-primary">Yes, let's go</button>
                </div>
            </div>
        </div>
    </div>

    <% if (userHasGroup == true ){ %>
    <div class="container mt-5">
        <div class="row">
            <div class="jumbotron col-6 mb">
                <h1 class="display-6"> <i class="fa fa-home"> </i> <%= groupName %> </h1>
                <hr class="my-4">
                <p class="lead"> Users in group </p>
                <div id='usersInGroup' class="lead">
                </div>
                <button id='add-user' type="button" data-toggle="modal" data-target="#addUserForm"
                    class="btn btn-secondary mt-5"> Add users in
                    group </button>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addUserForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog form-dark" role="document">
            <!--Content-->
            <div class="modal-content card card-image" style="background-color: burlywood">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <!--Header-->
                    <div class="modal-header text-center pb-4">
                        <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel">
                            <strong>Add User</strong></a></h3>
                        <button id='close-modal' type="button" class="close white-text" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <!--Body-->
                        <form id='add-user-form' action="/add-user-in-group" method="post">
                            <div class="md-form mb-4">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input id="add-user-in-group-field" name="email" type="text" autocomplete="off" class="form-control" placeholder="Firstname Lastname">
                                </div>  
                            </div>

                            <!--Grid row-->
                            <div class="row d-flex align-items-center mb-4">

                                <!--Grid column-->
                                <div class="text-center mb-3 col-md-12">
                                    <button type="submit"
                                        class="btn btn-primary btn-block btn-rounded z-depth-1">Confirm</button>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->
                        </form>
                    </div>
                    <div id="user-added-success" class="modal-footer" style="display: none">
                        <div id="alert-success" class="alert alert-success col-12 mt-0" role="alert"
                            style="padding-bottom: 0">
                            <p class='text-center '>
                                <strong>Success!</strong> User: <strong id='strong-added-success'> </strong> added to
                                group successfully.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <% } else { %>

    <div class="container-fluid">
        <!-- <div class="d-flex flex-row  mb-5 justify-content-left"> -->

        <div class="row">
            <div class="col">
                <h4> Group wasn't found :-( </h4>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <button type="button" class="btn btn-primary">Create Group</button> </div>
        </div>
        <!-- </div> -->
    </div>
    </div>
    <% } %>

</body>

</html>

<script type="text/babel">

</script>